@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

* {
    font-family: 'Montserrat';
    margin: 0;
    font-weight: 500;
}

body {
    min-height: 100%;
}

.app {
    position: relative;
    min-height: 100vh;
    height: auto;
}

body:not(footer) {
    padding: 0 5%;
}

a {
    text-decoration: none;
    color: #ff6060;
}