@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

* {
    font-family: 'Montserrat';
    margin: 0;
}

body {
    padding: 0 5%;
}

h1 {
    font-weight: 500;
}

.app {
    position: relative;
    min-height: 100vh;
    height: auto;
}