@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

* {
    font-family: 'Montserrat';
    margin: 0;
    font-weight: 500;
}

html {
    height: 100%;
}

body:not(footer) {
    min-height: 100%;
    padding: 0 5%;
}

#root {
    display: flex;
    min-height: 100vh;
}

.app {
    display: flex;
    flex-direction: column;
    flex: 1;
}

a {
    text-decoration: none;
    color: #ff6060;
}