@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

* {
    font-family: 'Montserrat';
    margin: 0;
    font-weight: 500;
}



.app {
    position: relative;
    display: flex;
    margin: auto;
    flex-direction: column;
    flex: 1;
    min-height: 100vh;
}

header, main {
    margin-left: 100px;
    margin-right: 100px;
}

a {
    text-decoration: none;
    color: #ff6060;
}