.kasa-dropdown-container {
  display: flex;
  justify-content: space-between;
}

.kasa-collapse {
  border-radius: 10px;
  width: 582px;
}

.kasa-collapse-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #ff6060;
  padding: 10px;
  border-radius: 10px;
  color: white;

  & h1 {
    font-size: 18px;
  }

  & .close {
    transform: rotate(0deg);
    transition: transform 500ms ease-in-out;
  }

  & .open {
    transform: rotate(-180deg);
    transition: transform 500ms ease-in-out;
  }
}

.kasa-collapse-content {
  background-color: #f6f6f6;
  padding: 20px;
  color: #ff6060;
  border-radius: 10px;
  overflow: hidden;

  &.content-close {
    max-height: 0;
    overflow: hidden;
    transition: max-height ease-in-out 0.5s;
  }

  &.content-open {
    max-height: 500px;
    transition: max-height linear 0.5s;
  }

  ul {
    list-style: none;
  }
}

.kasa-about {
  width: 100%;
  margin-bottom: 30px;
}
