.kasa-header {
  display: flex;
  font-weight: 500;
  justify-content: space-between;
  align-items: center;
  padding: 45px 0;
  color: #ff6060;
  font-size: 24px;
}

.kasa-menu {
  display: flex;
  list-style: none;
  gap: 57px;
}
