.kasa-banner {
  width: 100%;
  height: 223px;
  display: flex;
  border-radius: 25px;
  margin: 50px 0;
  position: relative;

  &::before {
    opacity: 0.3;
    background: #000;
    mix-blend-mode: darken;
  }

  & img {
    width: 100%;
    border-radius: 25px;
    object-fit: cover;
  }

  .kasa-slogan {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 48px;
    color: white;
    text-align: center;
  }
}
