.kasa-footer {
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
}

.kasa-footer img {
    height: 39px;
    width: 122px;
}