.kasa-footer {
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  padding-top: 66px;
  padding-bottom: 29px;
}

.kasa-footer img {
  height: 39px;
  width: 122px;
}
