footer {
  background-color: black;
  width: 100%;
  color: white;
  text-align: center;
  padding-top: 66px;
  padding-bottom: 29px;
  margin-top: auto;
}

footer img {
  height: 39px;
  width: 122px;
}
